:host {
  height: 100%;
  width: 100%;
}

.strategy-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #e1f6f7;
  align-content: stretch;
  padding: 2em 1em 2em 1em;
}
